html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: 'Merriweather', serif;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  margin: 0;
}

header{
  font-size:1.5rem;
  text-align: center;
  padding: 1em;
  color: white;
  background-color: #d05c2e;
  font-style: bold;
  margin: 0;
}

main{
  margin: .5em;
}

figure{
  margin: 0;
}

.img-grains{
  float: left;
  width: 45%;
  margin-right: .5em;
}

.img-cereals {
  float: right;
  width: 45%;
}

.img-quinoa {
  float: right;
  width: 45%;
}

ol{
  margin: 0;
  padding: 0;
}

nav{
  overflow: hidden;
}

nav li{
  list-style: none;
  background-color: #d05c2e;
  border: 1px solid #a93f35;
  float: left;
  border: 1px solid #a93f35;
  width: 33.3%;
  margin: 0;
  text-align: center;
  color: white;
}


nav a{
  padding: .5rem;
  font-size: 120%;
  background-color: #d05c2e;
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover{
  background-color: #a93f35;
  color: white;
  text-decoration: none;
}
