html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  margin: 0;
  font-family: 'Merriweather', serif;
  font-size: 1em;
  line-height: 1.5em;
}


nav{
  overflow: hidden;
  padding-bottom: .75em;
}

nav li{
  list-style-type: none;
  background-color: #d05c2e;
  border: 1px solid #a93f35;
  float: left;
  border: 1px solid #a93f35;
  width: calc(100% / 3);
  margin: 0;
  text-align: center;
  color: white;
}

nav a{
  padding: .5rem;
  font-size: 120%;
  background-color: #d05c2e;
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover{
  background-color: #a93f35;
  color: white;
  text-decoration: none;
}

ol{
  margin: 0;
  padding: 0;
  width: 100%;
}

main{
  margin: 0;
}

img {
  width: 100%;
  margin: 0em;
  padding: 0em;
}

p{
  margin: 10px;
  margin-bottom: 1em;
  margin-left: 0;
}


header{
  font-size:1.5em;
  text-align: center;
  padding: 1em;
  color: white;
  background-color: #d05c2e;
  font-style: bold;
  margin: 0;
  border: 0;
  padding:0;
}

div.masthead{
  padding: 1em .5em 1.5em .5em;
}

h1{
  margin: 0;
}

.grain-left{
  float: left;
  width:50px;
}

.grain-right{
    float: right;
    width: 50px;
}

main{
  margin: .5em;
}

figure{
  margin: 0;
}


.img-grains{
  float: left;
  width: 45%;
  margin-right: .5em;
}

.p2-images{
clear: both;
margin: none;
}


.img-cereals {
  float: right;
  width: 40%;
  border: lightgrey solid 1px;
  margin: 0;
  margin-bottom: .5em;
  margin-left: .5em;
}

.img-quinoa {
  float: right;
  width: 40%;
  clear: right;
  border: lightgrey solid 1px;
  margin-bottom: .5em;
}


.img-rice{
  width: 50%;
  float:left;
}

.img-oats{
  width: 50%;
  float: right;
}

.famous-cereals{
  margin-bottom: 3em;
  border-top: 1px solid #a93f35;
  border-bottom: 1px solid #a93f35;
}

.famous-cereals:before,
.famous-cereals:after{
content:" ";
display: table;
}

.famous-cereals:after{
  clear: both;
}

h2{
  background-color: #dc8252;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 1em;
  margin: 0;
  clear: both;
  width: 100%;
}

.famous-legumes{
  margin: 1em;
}

h3 {
  text-align: center;
  color: black;
  font-family: 'merriweather', serif;
  font-size: 1.5em;
  padding: 0em, 2em;
  font-style: bold;
  margin-bottom: 1em;
}

figure{
  background: #dc8252;
  border: 0;
}

figcaption{
  background-color: #dc8252;
  color: white;
  text-align: center;
  margin: 0;
  padding: 1em;
  padding-top: 0;
  font-style: italic;
  font-family: 'merriweather', serif;
}

.img-list{
  border: lightgrey solid 1px;
  width: 20%;
  float: left;
  clear: left;
  margin-bottom: 1em;
  margin-right: 1em;
}

dl{
  display: inline;
  font-style: italic;
}

dt{
  float: left;
  font-weight: bold;

}

dd{
float: left;
margin: 0;
}


footer{
  background-color: #d05c2e;
  text-align: center;
  padding: 1.5em;
  margin: 15em 0em 0em 0em;
  font-family: 'Merriweather', serif;
  font-size: .7em;
  font-weight: bold;
  color: #e3a998;
  clear: both;
}
