html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: 'Merriweather', serif;
}

*, *::before, *::after{
  box-sizing: inherit;
}

header{
  font-size:1.5rem;
  text-align: center;
  padding: 1em;
  color: white;
  background-color: #d05c2e;
  font-style: bold;


}

ol li{
  display: inline-block;
}
